@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

/* ==========Allgemeines Styling========= */
body {
  width: 100%;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}
p {
  font-weight: 400;
}

/* ==========Header Styling========= */

nav {
  margin: 0rem 6.25rem;
}

.shopping-cart {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-top: -3rem;
  position: fixed;
  top: 95vh;
  left: 90vw;
}
.shopping-cart img {
  width: 70%;
}
.shopping-cart button {
  background-color: #fbeda3;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 59px;
}
.shopping-cart button span {
  width: 2rem;
  height: 2rem;
  margin-top: 5px;
  background-color: #e5c643;
}

.main-div {
  background-image: url("/assets/img/header-image.png");
  background-size: cover;
  height: 100vh;
  border-radius: 59px;
  margin: 0rem 6.25rem;
}
.main-div div {
  width: 29.625rem;
  height: 29rem;
  margin-left: 7.438rem;
  margin-top: 1.5rem;
}
.flex-container {
  display: flex;
}

.main-div h1 {
  font-weight: 900;
  font-size: 5rem;
  line-height: 120px;
}

/* ==========Hero Styling========= */
#hero-img {
  width: 100%;
}

.join {
  background-color: #e5c643;
  padding: 5rem 5rem;
  color: white;
}

/* ==========Footer Styling========= */
footer {
  background-color: black;
  color: white;

  padding: 7.438rem 3rem;
}

.social-icons {
  background-color: #ebd96b;
  border-radius: 15px;
  width: 3.25rem;
  height: 3.25rem;
}

/* ==========Modal Styling========= */

.content {
  position: absolute /*relative and fixed elements also works*/;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 800%;
  background: rgba(251, 237, 163, 0.5);
  backdrop-filter: blur(15px);
}
.background {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 1.68rem 6.25rem;
  background-color: #fbeda3;
}
